body{
    margin: auto;
    background: rgb(183, 217, 78);

}
h1{

    margin: 0;
    padding: 0.5rem 3rem;
}


.color{
    letter-spacing: 0;
color: black;
font-weight: bold;
font-size: 110%;
}

.container{
    margin: .5rem auto;
    width: 960px;
    text-align: center;
    font-weight: bolder;
    padding: 1rem;
    letter-spacing: 1px;
    overflow: auto;
    overflow: hidden;

}

.TargetScore{
    position: relative;
    float: left;
    margin: .5rem;
    height: 70px;
    width: 300px;
}

.winloss{
    position: relative;
    float: left;
    margin: .5rem;
    height: 70px;
    width: 300px;
}

.wins{
    margin: .5rem;
}

.losses{
    margin: .5rem;
}

.button1{
    position: relative;
    float: left;
    margin: .5rem;
    height: 100px;
    width: 100px;
}

.button2{
    position: relative;
    float: left;
    margin: .5rem;
    height: 100px;
    width: 100px;
}

.button3{
    position: relative;
    float: left;
    margin: .5rem;
    height: 100px;
    width: 100px;
}

.button4{
    position: relative;
    float: left;
    margin: .5rem;
    height: 100px;
    width: 100px;
}

.scoreHelp{
    margin: .5rem;
    height: 20px;
    width: 200px;
}


